# IntelliJ project folder
.idea

# Composer-related files
.Build
composer.lock
*.zip

# PHP CS Fixer
.php-cs-fixer.cache
.php-cs-fixer.php

# PHPStan
.phpstan.cache

# PHPLint
.phplint.cache

# External resources
/Resources/Public/JavaScript/Plugins/ckeditor-cowriter

# DDEV local environment
.ddev/.ddev-docker-compose-base.yaml
.ddev/.ddev-docker-compose-full.yaml
.ddev/.homeadditions
.ddev/db_snapshots

# Documentation generated
Documentation-GENERATED-temp/

# direnv
.envrc
.direnv/
