services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Netresearch\T3Cowriter\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/Domain/DTO/*'

  Netresearch\T3Cowriter\Controller\AjaxController:
    public: true
    arguments:
      $logger: '@Psr\Log\LoggerInterface'
