services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Netresearch\T3Cowriter\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/Domain/DTO/*'
      - '../Classes/Service/RateLimitResult.php'

  Netresearch\T3Cowriter\Service\RateLimiterService:
    arguments:
      $cache: '@cache.cowriter_ratelimit'
      $requestsPerMinute: 20

  Netresearch\T3Cowriter\Service\RateLimiterInterface:
    alias: Netresearch\T3Cowriter\Service\RateLimiterService

  Netresearch\T3Cowriter\Controller\AjaxController:
    public: true
    arguments:
      $logger: '@Psr\Log\LoggerInterface'
