<html data-namespace-typo3-fluid="true"
      xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
>


<f:layout name="Module" />

<f:section name="Content">
    <h1>T3-Cowriter</h1>

    <h2>Prompts</h2>
    <f:form method="post">
        <f:for each="{prompts}" as="prompt">
            <input type="radio" id="{prompt.uid}" name="selectedPrompt" value="{prompt.uid}">
            <label for="html">{prompt.title}</label><br><!-- Adjust property names as per your model -->
        </f:for>

        <h2>Content Elements</h2>
        <f:for each="{contentElements}" as="contentElement">
            <input type="checkbox" id="{contentElement.uid}" name="selectedContentElements[]" value="{contentElement.uid}">
            <label for="html">{contentElement.title}</label><br>
        </f:for>
        <button type="submit" name="action" value="sendPromptToAiButton">Send</button>
        <button type="submit" name="action" value="searchSelectedContentElements">Update list</button>
        <h2>Seiten</h2>
        <f:for each="{result}" as="table" key="key">
            <h3>{key}</h3>
            <table class="table">
                <tr>
                    <th>field</th>
                    <th>value</th>
                </tr>
                <f:for each="{table.elements}" as="element">
                    <f:for each="{table.fields}" as="field">
                        <tr>
                            <td>{field}</td>
                            <td>{element.{field}}</td>
                        </tr>
                    </f:for>
                </f:for>
            </table>
        </f:for>
    </f:form>
</f:section>
</html>