# Adapted from https://github.com/TYPO3GmbH/blog/blob/master/.github/workflows/ci.yml
name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: read

        strategy:
            fail-fast: false
            matrix:
                typo3: [ '^12.4', '^13.4' ]
                php: [ '8.2', '8.3', '8.4' ]

        steps:
            -   id: checkout
                name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            -   id: setup_php
                name: Set up PHP version ${{ matrix.php }}
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
                with:
                    php-version: ${{ matrix.php }}
                    tools: composer:v2, php-cs-fixer

            -   name: Validate composer.json and composer.lock
                run: composer validate

            -   id: composer-cache-vars
                name: Composer Cache Vars
                run: |
                    echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
                    echo "timestamp=$(date +"%s")" >> $GITHUB_OUTPUT

            -   id: composer-cache-dependencies
                name: Cache Composer dependencies
                uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
                with:
                    path: ${{ steps.composer-cache-vars.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.typo3 }}-${{ steps.composer-cache-vars.outputs.timestamp }}
                    restore-keys: |
                        ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.typo3 }}-
                        ${{ runner.os }}-composer-${{ matrix.php }}-
                        ${{ runner.os }}-composer-

            -   id: install
                name: Install dependencies with typo3/cms-core:${{ matrix.typo3 }}
                run: |
                    composer require typo3/cms-core:${{ matrix.typo3 }} --no-progress --no-update
                    composer require typo3/cms-backend:${{ matrix.typo3 }} --no-progress --no-update
                    composer require typo3/cms-rte-ckeditor:${{ matrix.typo3 }} --no-progress --no-update
                    composer install --no-interaction --prefer-dist
                    git checkout composer.json

            -   id: security
                name: Security audit
                if: ${{ always() && steps.install.conclusion == 'success' }}
                run: |
                    composer audit

            -   id: lint
                name: Lint
                if: ${{ always() && steps.install.conclusion == 'success' }}
                run: |
                    composer ci:test:php:lint

            -   id: generate-php-cs-fixer-config
                name: Generate .php-cs-fixer.php
                if: ${{ always() && steps.install.conclusion == 'success' }}
                run: |
                    cp Build/.php-cs-fixer.dist.php .php-cs-fixer.php

            -   id: cgl
                name: CGL
                if: ${{ always() && steps.install.conclusion == 'success' }}
                run: |
                    php-cs-fixer fix --dry-run --verbose --config Build/.php-cs-fixer.dist.php

            -   id: phpstan
                name: PHPStan
                if: ${{ always() && steps.install.conclusion == 'success' }}
                run: |
                    composer ci:test:php:phpstan -- --error-format=github

            -   id: rector
                name: Rector
                if: ${{ always() && steps.install.conclusion == 'success' }}
                run: |
                    composer ci:test:php:rector
