name: Dependency Review
on:
  pull_request:
permissions: {}
jobs:
  review:
    uses: netresearch/typo3-ci-workflows/.github/workflows/dependency-review.yml@d2aa25fc2bdb143c88f24cadfffe444c42908409 # main
    permissions:
      contents: read
      pull-requests: write
