name: Dependency Review
on:
  pull_request:
permissions: {}
jobs:
  review:
    uses: netresearch/typo3-ci-workflows/.github/workflows/dependency-review.yml@5c3daffcc31504594fdb3aa1d150e8d6a95b24c0 # main
    permissions:
      contents: read
      pull-requests: write
