name: Dependency Review
on:
  pull_request:
permissions: {}
jobs:
  review:
    uses: netresearch/typo3-ci-workflows/.github/workflows/dependency-review.yml@273cb8fd37b60ae31f72834d9896007623c99bf4 # main
    permissions:
      contents: read
      pull-requests: write
