name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

permissions: {}

jobs:
  greetings:
    uses: netresearch/typo3-ci-workflows/.github/workflows/greetings.yml@main
    permissions:
      issues: write
      pull-requests: write
